<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SongMapper">
    <select id="findSongByQuery">
        SELECT
            song_id as id,
            song_title as title,
            song_lyrics as lyrics,
            song_created_at as createdAt
        FROM
            songs
        <where>
            <if test="query != '%%'">
                    song_title like #{query} OR
            </if>
            <if test="query != '%%'">
                song_lyrics like #{query}
            </if>
        </where>
    </select>
<!--
    ep : /api/v1/songs
    method : POST
-->
    <insert id="insertSong" parameterType="com.example.demo.domain.Song">
        insert into songs(song_title, song_lyrics)
        values (#{title},#{lyrics})
    </insert>
    <select id="findAllSong">
        SELECT
            song_id as id,
            song_title as title,
            song_lyrics as lyrics,
            song_created_at as createdAt
        FROM
            songs
    </select>
    <select id="findSongById">
        SELECT
            song_id as id,
            song_title as title,
            song_lyrics as lyrics,
            song_created_at as createdAt
        FROM
            songs
        WHERE song_id = #{id}
    </select>
    <delete id="deleteSong">
        delete from songs where song_id = #{id}
    </delete>
    <update id="updateSong">
        UPDATE
            songs
        <set>
            <if test="title != null and title != ''">
                song_title = #{title},
            </if>
            <if test="lyrics != null and lyrics != ''">
                song_lyrics = #{lyrics}
            </if>
        </set>
        WHERE
            song_id = #{id}
    </update>

</mapper>